@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn1{
    @apply bg-purple-700 px-7 py-4 text-black rounded-lg font-semibold cursor-pointer hover:shadow duration-100 ease-in-out disabled:opacity-60 md:text-xl md:py-6;
  }
}
